{% load static %}
<!DOCTYPE html>
<html lang="es">

{% include 'components/head.html' with title="Inicio | ITGSA" %}

<body>
    <div class="main">
        {% include 'components/sidebar.html' %}
        <article>
            {% include 'components/header.html' %}
            <main>
                <section class="center-display">
                    <div class="response">
                        <h1>{{ title }}</h1>
                        <p>{{ message }}</p>
                        <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </section>
            </main>
        </article>
    </div>
</body>

</html>