{% load static %}
<header>
  <div class="header-content">

    <div class="icons">
      <!-- User Area -->
      <div>
        <a href="#">
          <span class="user-info">
            <span class="user-name">ITGSA</span>
            <span class="user-role">Administrador</span>
          </span>
          <span class="user-avatar">
            <img src="{% static 'images/logo/logo-icon.svg' %}" alt="Logo">
          </span>
        </a>
      </div>
      <!-- User Area -->
    </div>
  </div>
</header>